*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Roboto Condensed";

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-bg: #fdf0d5;
  --clr-dark: #3a3335;
  --clr-accent: #03256c;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 2rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

.appheader {
  font-size: var(--fs-h1);
  text-align: center;
  margin: 0;
  box-shadow: var(--bs);
  color: var(--clr-accent);
}

p {
  margin: 0;
}

.calendar-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.log-button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

/*
* react-calendar-heatmap styles
*/
.heatmap-title {
  text-align: center;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}
.heatmap-wrapper {
  width: 70%;
  background-color: #407ba3;
  padding: 1rem;
  margin: 0 auto;
  box-shadow: var(--bs);
}
svg {
  shape-rendering: geometricprecision;
}
rect {
  rx: 10px;
  ry: 10px;
}

.react-calendar-heatmap text {
  font-size: 0.5rem;
  fill: black;
}

.react-calendar-heatmap {
  margin: 0;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default colour scale
 */

.react-calendar-heatmap .colour-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .colour-filled {
  fill: #e89005;
}

/*
 * Running Distance Scale
 */
.react-calendar-heatmap .colour-distance-1 {
  fill: #e89005;
}
.react-calendar-heatmap .colour-distance-2 {
  fill: #ec7505;
}
.react-calendar-heatmap .colour-distance-3 {
  fill: #d84a05;
}
.react-calendar-heatmap .colour-distance-4 {
  fill: #f42b03;
}
